@charset "ISO-8859-1";


body {
	
	background-color:aliceblue;
}
a, li, ul, h2, h4, td, th{
	text-decoration:none;
	font-family:verdana;
	color: #666;
}
form{
		padding:4px;
	margin:2px;
}
a:hover{
	text-decoration:underline;
	color:#ccc;
}

input{
	margin:5px;
}
td{
	border:1px solid #999;
}
.reimbursement {
	
	padding:10px;
	margin:6px;
	background-color:#fff; 
	font-family:verdana;
	border-radius:4px;
	border:1px solid #666;
}
/* a:visited{
	color:#999900;
} */

.owner{
	
	background-color:#fff;
		padding:5px;
	margin:2px;
	/* border-radius:5px; */
	
}
.resolver{
	
	background-color:#fff;
	padding:5px;
	margin:2px;
	/* border-radius:5px; */
	
}
 .status{
	
	/* background-color:#ffff04; */
	padding:5px;
	margin:8px;
	border-radius:5px;
	
} 
.status[data-status="approved"]:after {
 content : "approved";
 background-color : #33FF0F;
 padding:5px;
	margin:8px;
	border-radius:5px;
}
.status[data-status="denied"]:after {
 content : "denied";
 background-color : #ff6262;
 	padding:5px;
	margin:8px;
	border-radius:5px;
}
.status[data-status="pending"]:after {
 content : "pending";
 background-color : #ffff04;
 	padding:5px;
	margin:8px;
	border-radius:5px;
}
.status[data-status="resolved"]:after {
 content : "resolved";
 background-color : #fff;
 	padding:5px;
	margin:8px;
	border-radius:5px;
}
.reimAmount{
	background-color:#33FF0F;
	padding:8px;
	margin: 5px;
	border-radius:2px;
	color:#fff;
	font-weight:bolder;
}
.reimId{
	background-color:#ccc;
	padding:5px;
	margin:2px;
	border-radius:5px;
}